
.header{

    top: 0;
    left: 0;
    background-color: #ffffff;
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    position: fixed;
    padding: 10px 30px;
    z-index: 1000;
    margin-bottom: 15px;
    border-bottom: 1px solid #003b73;
}


.header-left {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.header-left img {
  width: 70px;
}


.hamburguer {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  width: 24px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100;
}

.hamburguer .bar {
  height: 3px;
  width: 100%;
  background-color: #003b73;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.hamburguer.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(4px, 4px);
}
.hamburguer.open .bar:nth-child(2) {
  opacity: 0;
}
.hamburguer.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
}

/* DERECHA */
.header-right {
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: max-height 0.3s ease;
}

/* BOTONES */
.btn {
  background-color: #003b73;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #00509e;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hamburguer {
    display: flex;
  }

  .header-right {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
    z-index: 999;
  }

  .header-right.open {
    max-height: 600px;
    padding: 1rem 0;
  }

  .nav-link {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5px 0;
  }

  .btn {
    width: 90%;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
  }

  .info {
    margin-top: 10px;
  }
}
