

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.product-search-results {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    width: 100%;
    border-radius: 8px;
}

.search-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.product-list-search{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    height: 800px;
    gap: 1.5rem;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.product-card-search {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease;
    padding: 1rem;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    &:hover {
        transform: scale(1.03);
    }
}
.product-card-search img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.btn-delete-filter {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.3s ease;
    margin-top: 10px;

    &:hover {
        background-color: #c82333;
    }
}



.container section {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}


.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: clamp(1rem, 2vw, 2rem);
    border-radius: 10px;
    gap: 20px;
}

.container h2 {
    width: 100%;
    text-align: left;
    color: #1d4c7e;
    font-size: clamp(1.5rem, 2vw, 2.3rem);

}