.search {

    width: 80%;
    max-width: 500px;
    padding: 12px 20px;
    display: block;
    border: 2px solid #ddd;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.search:focus {
    border-color: #4caf50;
    box-shadow: 0 2px 5px rgba(76, 175, 80, 0.2);
}
.search::placeholder {
    color: #aaa;
    font-style: italic;
}


.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px; 
}
h2 {
    width: 100%;
    text-align: center;
    color: #222222;
    font-size: 2.5rem;
    margin-bottom: 10px;
}